<h1>Welcome! <%=current_user.email%></h1>
<%= link_to "Start a new Trip!", new_trip_path %>
<p>Below are all of your trips</p>
<% @trips.each do |trip|%>
<p>
<%= link_to trip.title, trip_path(trip) %>
</p>
<% end %>
