<h1><%=@trip%></h1>

<p><%= link_to "Edit", edit_trip_path(@trip) %></p>
<p><%= link_to "Delete", trip_path(@trip), method: :destroy %></p>

<h3>Here is a list of all the locations in your trip!</h3>
<%@locations.each do |location|%>
<p>
<%=link_to location.name, trip_location_path(@trip,location)%>
</p>
<% end %>
